name: Build Android APK
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install -g eas-cli
      - run: npm install
        working-directory: ./frontend
      - run: eas build --platform android --non-interactive --no-wait
        working-directory: ./frontend
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
